body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.grow {
  flex-grow: 1;
}

.margin-20 {
  margin: 20px;
}

.overflowScroll {
  overflow: scroll;
}

.overflowAuto {
  overflow: auto;
}

.text-caps {
  text-transform: capitalize;
}

.hideOverflow {
  overflow: hidden;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}
